@model IEnumerable<GroceriesShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Меню</h1>

<p>
    @if (User.IsInRole("2"))
    {
        <button onclick="handlerEdit()">Изменить</button>
        <button onclick="handlerDetails()">О товаре</button>
        <button onclick="handlerDelete()">Удалить</button>
        <button onclick="handlerCreate()">Создать</button>
    }
    else
    {
        <button onclick="handlerDetails()">О товаре</button>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название товара
            </th>
            <th>
                Цена
            </th>
            <th>
                Категория
            </th>
            <th>
                Продавец
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="selectRow(@item.Id)" id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.Name)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        var selectedId;
        function selectRow(idObject) {
            if (selectedId) {
                document.getElementById(selectedId).className = "";
            }
            selectedId = idObject;
            document.getElementById(idObject).className = "active-row";
        }

        function handlerDetails() {
            if (selectedId) {
                window.location.href = "/Products/Details/" + selectedId;
            }
        }

        function handlerDelete() {
            if (selectedId) {
                window.location.href = "/Products/Delete/" + selectedId;
            }
        }

        function handlerEdit() {
            if (selectedId) {
                window.location.href = "/Products/Edit/" + selectedId;
            }
        }

        function handlerCreate() {
            window.location.href = "/Products/Create";
        }
    </script>
}