@model IEnumerable<GroceriesShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("2"))
    {
        <button onclick="handlerEdit()">Edit</button>
        <button onclick="handlerDetails()">Details</button>
        <button onclick="handlerDelete()">Delete</button>
        <button onclick="handlerCreate()">Create</button>
    }
    else
    {
        <button onclick="handlerDetails()">Details</button>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="selectRow(@item.ProductId)" id="@item.ProductId">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.AccountId)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        var selectedId;
        function selectRow(idObject) {
            if (selectedId) {
                document.getElementById(selectedId).className = "";
            }
            selectedId = idObject;
            document.getElementById(idObject).className = "active-row";
        }

        function handlerDetails() {
            if (selectedId) {
                window.location.href = "/Products/Details/" + selectedId;
            }
        }

        function handlerDelete() {
            if (selectedId) {
                window.location.href = "/Products/Delete/" + selectedId;
            }
        }

        function handlerEdit() {
            if (selectedId) {
                window.location.href = "/Products/Edit/" + selectedId;
            }
        }

        function handlerCreate() {
            window.location.href = "/Products/Create";
        }
    </script>
}